<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Cart</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="page-title">
        <h1>Cart</h1>
    </div>

    <% if(data == null || data.length < 1) { %>
        <p>No items in cart</p>
    <% } else { %>
        <div class="orders-container">
        <% data.forEach((item) => { %>
            <div class="order-card">
                <p><%= item.book.title %></p>
                <p><%= item.book.genre %></p>
                <p><%= item.book.author %></p>
                <p><%= item.book.price %></p>
                <button onclick="removeItem('<%= item.book.id %>')">Remove Item</button>
            </div>
        <% }) %>

        <a class="orange-button cart-button-position" href="checkout">Proceed to Checkout</a>
        </div>
    <% } %>
    

    
</body>
</html>

<script type="text/javascript" src="/scripts/cart.js"></script>

