<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Cart</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="page-title">
        <h1>Cart</h1>
    </div>

    <% if(data == null || data.length < 1) { %>
        <p>No items in cart</p>
    <% } else { %>
        <div class="cart-container">
        <% data.forEach((item) => { %>
            <div class="cart-card">
                <div class="cart-img-container">
                   <img /> 
                </div>
                <div class="cart-book-info">
                    <p class="cart-title"><%= item.book.title %></p>
                    <p class="cart-subtitle">by <%= item.book.author %></p>
                    <p class="cart-subtitle"><%= item.book.genre %></p>
                    <hr />
                    <p class="cart-title"><%= item.book.price %></p>
                </div>
                <div class="cart-button-container">
                    <button onclick="removeItem('<%= item.book.id %>')">Remove Item</button>
                </div>
            </div>
        <% }) %>

        <a class="orange-button cart-button-position" href="checkout">Proceed to Checkout</a>
        </div>
    <% } %>
    

    
</body>
</html>

<script type="text/javascript" src="/scripts/cart.js"></script>

