<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>UI E-Commerce Website - Cart</title>
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="page-title-container">
        <h1 class="page-title">Cart</h1>
    </div>
    <hr class="page-title-hr">

    <% if(data == null || data.length < 1) { %>
        <div class="center-content">
            <p class="no-items-feedback">No items in cart</p>
        </div>
    <% } else { %>
        <div class="cart-content-container">
            <div class="cart-container">
            <% data.forEach((item) => { %>
                <div class="cart-card">
                    <div class="cart-items-img-container">
                    <img src="<%= item.book.filePath %>" alt="Image of <%= item.book.title %> by <%= item.book.author %>"/> 
                    </div>
                    <div class="cart-book-info">
                        <p class="cart-title"><%= item.book.title %></p>
                        <p class="cart-subtitle">by <%= item.book.author %></p>
                        <p class="cart-subtitle"><%= item.book.genre %></p>
                        <hr />
                        <p class="cart-title"><%= item.book.price %></p>
                    </div>
                    <div class="cart-button-container">
                        <button aria-label="Remove <%= item.book.title %> by <%= item.book.author %> from cart" onclick="removeItem('<%= item.book.id %>')">
                            <svg xmlns="http://www.w3.org/2000/svg" height="65px" viewBox="0 -960 960 960" width="65px" fill="#ffffff"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                        </button>
                    </div>
                </div>
            <% }) %>
            </div>
            <div class="cart-content-p2checkout-button-container">
                <a class="cart-content-p2checkout-button" href="checkout">Proceed to Checkout</a>
            </div>
        </div>  
    <% } %>
    

    
</body>
</html>

<script type="text/javascript" src="/scripts/cart.js"></script>

